
/*-----------------Dana---------------------------------*/
main h3{

	font-family: 'Saira Extra Condensed', sans-serif;
	color: black;
}

main .textSlider{
    background: rgba(255, 255, 255, 0.1);
}

/*--------------------mariana-------------------------------*/
